# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Use tabs and let users decide how wide they should be.
[*.rs]
indent_style = tab

# If any of these files has enough indentation that 8 looks like it's too much, you fucked up.
[{*.md,.gitignore,.env*,justfile,Dockerfile}]
indent_style = tab
indent_size = 8

# Use tabs and let users decide how wide they should be.
[{*.toml,*.lock,*.nix}]
indent_style = tab

[{*.json,*.yaml}]
indent_style = space
indent_size = 2

