.direnv

# Editors / Platform specific
.vscode
*.iml
.idea/
.DS_Store

# Rust
**/target/
**/*.rs.bk


# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
/Cargo.lock
